[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "elastes"]
	path = elastes
	url = https://github.com/mpff/elastes
	shallow = true
	registered = true
